body {
  margin: 0;
  font-size: 1.2em;
  line-height: 36px;
}

.container div {
  margin-bottom: 10px;
}

.parallax {
  background-image: url("images/Top.png");
  max-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: block;
  line-height: 500px;
  /* padding: 20px; */
}

.parallax:not(:first-child) {
  color: rgba(116, 8, 8, 0.886);
  /* max-height: 200px;
  line-height: 200px; */
  font-size: 36px;
}

li {
  list-style-type: none;
  /* display: inline; */
  margin-right: 10px;
}

#programmingLanguages {
  font-size: 100px;
}

#myName {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profileImg {
  max-width: 300px;
  height: 210px;
}

.inner {
  /* border: 1px solid #000000; */
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.8), 0px -5px 35px rgba(1, 1, 1, 0.3), -39px -32px 2px rgba(249, 75, 22, 0);
}

.overlay {
  position: absolute;
  opacity: 0;
  transition: 0.6s ease;
  background-color: rgb(133, 118, 99);
}

.projectImgSection:hover .overlay {
  opacity: 0.85;
  cursor: pointer;
}

.overlay, .projectImg {
  width: 100%;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


@media screen and (min-width: 300px) {
  .parallax {
    max-height: 100%;
    line-height: 100%;
    font-size: 24px;
    font-weight: bold;
    padding: 35px;
  }
  #myName {
    max-height: 100%;
    line-height: 100%;
  }
  .parallax:not(:first-child) {
    max-height: 100%;
    line-height: 100%;
  }
  .text {
    font-size: 50%;
  }
  #profileImg {
    width: 100%;
    height: 100%;
  }
}